/* * {
    background-color: rgb(191, 191, 191);
} */
font-family: 'Dosis', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Oxanium', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Rationale', sans-serif;
font-family: 'Unica One', cursive;
font-family: 'VT323', monospace;
font-family: 'ZCOOL QingKe HuangYou', cursive;

body {
    background-color: rgb(184, 184, 184);
    height: 100vh;
}

#container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

#rps {
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    text-align: center;
    font-size: 35px;
}

header div, #rps-container {
    display: flex;
    flex-flow: row nowrap;
}

header span {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 35px;
}

header {
    font-family: 'Permanent Marker', cursive;
    border: solid black;
    border-radius: 15px;
    height: 150px;
    margin: 10px;
    margin-bottom: 20px;
}

#point-calculator {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    height: 32px;
}


.point-text {
    align-self: center;
    text-align: center;
}

.point-text:first-child, .point-text:last-child {
    flex-basis: 47%;
    align-self: center;
}

.point-text:nth-child(2) {
    flex-basis: 6%;
}

.header-node, .header-text, .header-score, .rps {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    font-size: 30px;
}
/* .header-text:first-child, .header-text:last-child, .header-node:first-child, .header-node:last-child {
    text-align: center;
    flex-basis: 40%;
    align-self: center;
    align-items: center;
} */

.header-text {
    font-size: 25px;
}

.rps:first-child, .rps:last-child, .header-node:first-child, .header-node:last-child {
    flex-basis: 40%;
    align-self: center;
    flex-grow: 2;
}


#score-board {
    text-align: center;
    font-size: 30px;
}

.header-score {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    width: 1em;
    margin: 0;
    border: solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 140, 0);
    text-align: center;
}


#reset-button {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    background-color: gainsboro;
    border: solid;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    align-content: center;
}

#reset-button:hover {
    box-shadow: 2px 2px 5px;
    cursor: default;
}

#reset-button:active {
    box-shadow: 0 0 0;
}

#rps-container {
    margin: 20px;
}


#vs {
    text-align: center; 
    font-family: 'Permanent Marker', cursive;
}

#user-selection img {
    margin: 10px 0;
    padding: 40px;
    border: solid black;
    border-radius: 28%;
}

img {
    align-self: center;
}

#rock, #scissors {
    height: 100px;
}

#paper {
    height: 150px;
}

#rock, #scissors, #paper {
    box-shadow: 10px 10px;
}

#user-selection img:hover, #reset-button:hover {
    background-color: rgb(255, 201, 134);
}

#user-selection img:active {
    box-shadow: 5px 2px;
}